@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #6dd8a3;
    /* background-image: url("http://johnny-five.io/img/pcb.jpg"); */
}

.header {
   text-align: center;
   font-size: 40px;
   width: 80%;
   margin: auto;
   border-bottom: solid 1px #000;
}

.card-container {
    width: 90%;
    display  : flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: auto;
}

.card {
    flex   : 0 1 auto;
    width  : 15rem;
    margin : 1rem; 
    border : solid 1px #ebed76;
    text-align: center;
}

.card img {
    max-width: 100%;
}